<div>
  <table>
    <tr>
      <td>
        <button (click)="solveBreadthFirst()">Breadth First</button>
      </td>
      <td>
        <button (click)="solveAStar()">A*</button>
      </td>
      <td>
        <div style="background-color: darkorange; height: 50px; width: 50px;
        text-align: center;vertical-align: middle;line-height: 50px">Start</div>
      </td>
      <td>
        <div style="background-color: mediumpurple; height: 50px; width: 50px;
        text-align: center;vertical-align: middle;line-height: 50px">Target</div>
      </td>
      <td>
        <div style="background-color: rgba(90, 245, 56, 0.75); height: 50px; width: 50px;
        text-align: center;vertical-align: middle;line-height: 50px">Search</div>
      </td>
      <td>
        <div style="background-color: #242424; color: white; height: 50px; width: 50px;
        text-align: center;vertical-align: middle;line-height: 50px">Wall</div>
      </td>
      <td>
        <div style="background-color: deepskyblue; height: 50px; width: 50px;
        text-align: center;vertical-align: middle;line-height: 50px">Path</div>
      </td>
    </tr>
    <tr>
      <td>
        <button (click)="reset()">Reset</button>
      </td>
    </tr>
  </table>
</div>
