<div style="position: center; width: 90%;">
  <table class="center">
    <tr>
      <td>
        <app-button-dropdown></app-button-dropdown>
      </td>
      <td>
        <button class="executebtn" [ngClass]="{'btn-disabled': pathfinderService.selectedAlgorithm == '' }" (click)="pathfinderService.execute()">Visualize!</button>
      </td>
      <td>
        <button class="btn" (click)="generateMaze()">Generate Maze</button>
      </td>
      <td>
        <button class="btn" (click)="resetPath()"> Reset Path</button>
      </td>
      <td>
        <button class="btn" (click)="resetWalls()">Reset Walls</button>
      </td>
      <td>
        <div style="user-select: none;-moz-user-select:none; background-color: transparent; height: 50px; width: 100px;
        text-align: center;vertical-align: middle;line-height: 50px"> </div>
      </td>
      <td>
        <div style="user-select: none;-moz-user-select:none; background-color: darkorange; height: 50px; width: 65px;
        text-align: center;vertical-align: middle;line-height: 50px">Start</div>
      </td>
      <td>
        <div style="user-select: none;-moz-user-select: none;background-color: mediumpurple; height: 50px; width: 65px;
        text-align: center;vertical-align: middle;line-height: 50px">Target</div>
      </td>
      <td>
        <div style="user-select: none;-moz-user-select: none;background-color: rgba(90, 245, 56, 0.75); height: 50px; width: 65px;
        text-align: center;vertical-align: middle;line-height: 50px">Search</div>
      </td>
      <td>
        <div style="user-select: none;-moz-user-select: none;background-color: #404040; color: white; height: 50px; width: 65px;
        text-align: center;vertical-align: middle;line-height: 50px">Wall</div>
      </td>
      <td>
        <div style="user-select: none;-moz-user-select: none;background-color: deepskyblue; height: 50px; width: 65px;
        text-align: center;vertical-align: middle;line-height: 50px">Path</div>
      </td>
    </tr>
    <tr>
      <td>
        <input #diagonal type="checkbox" id="diagonal" name="diagonal"
               [checked]="pathfinderService.diagonalMovement" (change)="onDiagonalToggle(diagonal.checked)">
        <label for="diagonal" style="text-align: left">Allow Diagonal Movement</label>
      </td>
    </tr>
  </table>
</div>
<p style="position: center; text-align: center; width: 90%; font-size: x-large">{{pathfinderService.algorithmDescription}}</p>
