div {
  background-color: lightgrey;
  color: transparent;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  width: 25px;
  height: 25px;
}

.wall {
  background-color: dimgray;
}
