div {
  background-color: white;
  color: transparent;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  width: 30px;
  height: 30px;
}

.start {
  background-color: darkorange;
}

.end {
  background-color: mediumpurple;
}

.wall {
  position: relative;
  z-index: 99;
  background-color: #404040;
  animation-name: wallAnimation;
  animation-duration: 0.2s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
  outline: 1px solid #404040;
}

@keyframes wallAnimation {
  0% {
    transform: scale(1.15);
  }

  100% {
    transform: scale(1);
  }
}

.visited:not(.start):not(.end):not(.wall) {
  animation-name: visitedAnimation;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.path:not(.start):not(.end):not(.wall) {
  animation-name: pathAnimation;
  animation-duration: 0.75s;
  animation-timing-function: ease-in;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes pathAnimation {
  0% {
    transform: scale(0.5);
    background-color: #00526a;
  }

  50% {
    transform: scale(1.2);
    background-color: #ffffff;
  }

  100% {
    transform: scale(1);
    background-color: deepskyblue;
  }
}

@keyframes visitedAnimation {
  0% {
    transform: scale(0.7);
    background-color: rgba(227, 0, 0, 0.75);
  }

  50% {
    background-color: rgba(224, 239, 15, 0.75);
  }

  75% {
    transform: scale(1.2);
    background-color: rgba(116, 217, 0, 0.75);
  }

  100% {
    transform: scale(1);
    background-color: rgba(127, 248, 103, 0.75);
  }
}
